.span11
  %h2
    = "キャプチャーの比較"
    -#  TODO: TAB コンポーネントを使うこと。
    %a.btn.btn-larg.disabled 差分のみ
    %a.btn.btn-primary.btn-larg{:href => "capture_all.html"} 全画像 &raquo;

  %div#diff_list
    %input.search.search-query{:placeholder => "画面名で絞り込み"}
    %i.icon-search
    %p 　　　　Diff: pixel 値が一致した部分は "white". 一致しない部分は "red" とした画像です。

    %ul.paging.topPaging

    %table.table.table-striped{:border => "1"}
      %thead
        %tr
          - diffs =  Dir::glob("public/results/diff/**/*.png")
          %th.sort{"data-sort" => "idx", :rel => "tooltip", :title => "クリックでソート可"} No.
          %th Diff (#{diffs.size}個)
          %th Current
          %th Prev
          %th.sort{"data-sort" => "name", :rel => "tooltip", :title => "クリックでソート可"} 画面名称
      %tbody.list
        - diffs.each_with_index do |f, idx|
        -   name = f[20..f.length]
        -   c_dif     = "./results/diff/" + name
        -   c_cur     = "./results/capture/" + name
        -   c_prv     = "./results/capture-prev/" + name
        -   thumb_dif = "./results/thumbnail/diff/" + name
        -   thumb_cur = "./results/thumbnail/capture/" + name
        -   thumb_prv = "./results/thumbnail/capture-prev/" + name
          %tr
            %td.idx #{idx + 1}
            %td.diff
              %a.preview{:href => "#{get_encoded_url(c_dif)}", :target => "_blank"}
                %img{:src => "#{get_encoded_url(thumb_dif)}", :alt => "", :onerror => "set_no_img(this);"}
            %td.cur
              %a.preview{:href => "#{get_encoded_url(c_cur)}", :target => "_blank"}
                %img{:src => "#{get_encoded_url(thumb_cur)}", :alt => "", :onerror => "set_no_img(this);"}
            %td.prv
              %a.preview{:href => "#{get_encoded_url(c_prv)}", :target => "_blank"}
                %img{:src => "#{get_encoded_url(thumb_prv)}", :alt => "", :onerror => "set_no_img(this);"}
            %td.name #{name}
    %ul.paging.bottomPaging
  %p{:style => "height:600px"}
/.span1
/  %h2 比較
/  %p
/  %p
/    %a.btn.disabled キャプチャー
/    %div{:style => "margin-top: 10px;"}
/    %a.btn.btn-primary{:href => "slide_diff.html"}スライド

